body{
    padding-top: 60px;
}

.bookTable{
    display:flex;
    flex-flow: row wrap;
    justify-content:space-around;
    gap:2%;
    padding: 0 1%;
    background-image: url("../images/wallpapper.jpg");
}

.bookItem{
    text-align: center;
    margin-bottom: 3em;
    width: 16rem;
    color:black;
}

.bookItem img{
    height: 20rem;
    max-width: 16rem;
}

.menubg{
    background-image: url("../images/menuTexture.jpg");
    background-position: center;
    font-size: 1.15rem;
}

.menu-scroll{
    max-height: 8rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

.color-dark{
    color: rgba(0, 0, 0, 1) !important;
    font-weight: 400 !important;
}

.lang{
    background: burlywood;
    border: 2px solid black;
    border-radius: 5px;
}

.lang select{
    border-radius: 5px;
    background-color: inherit;
    border: 0;
}

@media screen and (max-height: 700px) {
    .bookItem img{
        height: 10rem;
        max-width: 10rem;
    }
    .bookItem{
        width: 10rem;
    }
}

.bookContainer{
    width:100%;
    text-align: center;
}

#infoImg{
    height: 20rem;
}

@media screen and (max-height: 700px) {
    #infoImg{
        height: 10rem;
    }
}

#error{
    color:red;
}

#favButtonOn{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgNDggNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgMGg0OHY0OEgweiIgZmlsbD0ibm9uZSI+PC9wYXRoPjxwYXRoIGQ9Im0yNCA0Mi43LTIuOS0yLjYzQzEwLjggMzAuNzIgNCAyNC41NSA0IDE3IDQgMTAuODMgOC44MyA2IDE1IDZjMy40OCAwIDYuODIgMS42MiA5IDQuMTdDMjYuMTggNy42MiAyOS41MiA2IDMzIDZjNi4xNyAwIDExIDQuODMgMTEgMTEgMCA3LjU1LTYuOCAxMy43Mi0xNy4xIDIzLjA3TDI0IDQyLjd6IiBmaWxsPSIjZmYwMDAwIiBjbGFzcz0iZmlsbC0wMDAwMDAiPjwvcGF0aD48L3N2Zz4=");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 2em;
    border: none;
}

#favButtonOff{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgNDggNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgMGg0OHY0OEgweiIgZmlsbD0ibm9uZSI+PC9wYXRoPjxwYXRoIGQ9Im0yNCA0Mi43LTIuOS0yLjYzQzEwLjggMzAuNzIgNCAyNC41NSA0IDE3IDQgMTAuODMgOC44MyA2IDE1IDZjMy40OCAwIDYuODIgMS42MiA5IDQuMTdDMjYuMTggNy42MiAyOS41MiA2IDMzIDZjNi4xNyAwIDExIDQuODMgMTEgMTEgMCA3LjU1LTYuOCAxMy43Mi0xNy4xIDIzLjA3TDI0IDQyLjd6IiBmaWxsPSIjN2Q3ZDdkIiBjbGFzcz0iZmlsbC0wMDAwMDAgZmlsbC1mZjAwMDAiPjwvcGF0aD48L3N2Zz4=");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 2em;
    border: none;
}